<footer class="bg-dark align-items-center justify-content-center justify-content-md-between py-2">  
    <ul class="nav col-12 col-md-auto justify-content-center">
        <li class="col-4"><a class="nav-link px-2 text-header text-center" routerLinkActive="active" routerLink="recipes/overview">Recipes</a></li>
        <li class="col-4"><a class="nav-link px-2 text-header text-center" routerLinkActive="active" routerLink="dashboard/users"><i class="fas fa-plus" style="color: white;"></i></a></li>
        <li class="col-4"><a class="nav-link px-2 text-header text-center" routerLinkActive="active" routerLink="recipes/overview">My Recipes</a></li>
    </ul>
</footer>

<app-mobile-footer></app-mobile-footer>