@media only screen and (max-device-width : 1350px) {
    .vertical-center{
        position: inherit;
        top: auto;
        transform: translateY(0);
    }

    .horizontal-center{
        width: 100vh;
    }

    .card{
        width: 100%;
    }
 }