.offcanvas {
    height: 15vh;
}

.offcanvas-header {
    padding: 0.5rem 1rem;
}

.offcanvas-title {
    line-height: 0.5;
}

.tr {
    border-color: #dee2e6;
    border-bottom-color: #dee2e6 !important;
}

.clickable:not(.collapsed) {
    background-color: #e7f1ff;
}

.ingredient-disabled {
    opacity: 0.6;
}

.ingredient-loading {
    font-size: 0.9rem;
    color: #6c757d;
    margin-bottom: 0.5rem;
}

.ingredient-image-skeleton {
    min-height: 180px;
    background-color: #e9ecef;
    border: 1px solid #dee2e6;
}