$brand: (
    50: #ffffff,
    100: #f7d0e0,
    200: #f1b2cc,
    300: #f398be,
    400: #f175a9,
    500: #f25d9c,
    // 600: #4072b4,
    // 700: #38649d,
    // 800: #305687,
    // 900: #284770,
    // A100: #ffffff,
    // A200: #dde6f3,
    // A400: #6992c9,
    // A700: #38649d,
    contrast: (
        50: $black-87-opacity,
        100: $black-87-opacity,
        200: $black-87-opacity,
        300: $black-87-opacity,
        400: $black-87-opacity,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: $black-87-opacity,
        A200: $black-87-opacity,
        A400: $black-87-opacity,
        A700: white,
    )
);

$brand-alt: (
    50: #ffffff,
    100: #cff1ee,
    200: #b8e9e4,
    300: #95e0d8,
    400: #74c9bf,
    500: #5FBAAF,
    // 600: #4072b4,
    // 700: #38649d,
    // 800: #305687,
    // 900: #284770,
    // A100: #ffffff,
    // A200: #dde6f3,
    // A400: #6992c9,
    // A700: #38649d,
    contrast: (
        50: $black-87-opacity,
        100: $black-87-opacity,
        200: $black-87-opacity,
        300: $black-87-opacity,
        400: $black-87-opacity,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: $black-87-opacity,
        A200: $black-87-opacity,
        A400: $black-87-opacity,
        A700: white,
    )
);

$brand-secondary: (
    50: #ffffff,
    100: #e1d0e9,
    200: #c6b1cf,
    300: #ae94b9,
    400: #8f749c,
    500: #7B5C8A,
    // 600: #4072b4,
    // 700: #38649d,
    // 800: #305687,
    // 900: #284770,
    // A100: #ffffff,
    // A200: #dde6f3,
    // A400: #6992c9,
    // A700: #38649d,
    contrast: (
        50: $black-87-opacity,
        100: $black-87-opacity,
        200: $black-87-opacity,
        300: $black-87-opacity,
        400: $black-87-opacity,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: $black-87-opacity,
        A200: $black-87-opacity,
        A400: $black-87-opacity,
        A700: white,
    )
);