.menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3vh;
    height: 10%;
    cursor: pointer;
    transition: all .5s ease-in-out;
    // transform: translateY(1.3vh);
    /* border: 3px solid #fff; */
}

.menu-btn__burger {
    width: 100%;
    height: 2px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
    transition: all .5s ease-in-out;
}

.menu-btn__burger::before, .menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
    transition: all .5s ease-in-out;
}

.menu-btn__burger::before {
    transform: translateY(-6px);
}

.menu-btn__burger::after {
    transform: translateY(6px);
}
  /* ANIMATION */
.menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
    text-decoration: none;
}

.menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
}