.hover-10:hover{
    filter: brightness(10%);
}

.hover-20:hover{
    filter: brightness(20%);
}

.hover-30:hover{
    filter: brightness(30%);
}

.hover-40:hover{
    filter: brightness(40%);
}

.hover-50:hover{
    filter: brightness(50%);
}

.hover-60:hover{
    filter: brightness(60%);
}

.hover-70:hover{
    filter: brightness(70%);
}

.hover-80:hover{
    filter: brightness(80%);
}

.hover-90:hover{
    filter: brightness(90%);
}