.sidebar-menu-button{
    color: #f25d9c !important;
    background-color: transparent !important;
}

.sidebar-menu-button.active{
    color: #fff !important;
    background-color: #f25d9c !important;
}