[serious-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
}

[serious-title]:after {
    content: attr(serious-title);
    position: absolute;
    font-family: 'Calibri';
    background-color: black;
    color: #fff;
    padding: 1px 5px;
    font-style: normal;
    top: -1.6em;
    left: 0%;
    white-space: nowrap;
    opacity: 0;
    z-index: 99999;
    visibility: hidden;
    border-radius: 4px;
}

[serious-title] {
    position: relative;
}