@if (isAuthenticated) {
  <div class="mb-3">
    <button class="btn" [ngClass]="showFavorites ? 'btn-outline-brand' : 'btn-brand'" type="button" (click)="toggleDisplay()">{{ showFavorites ? 'Show All Recipes' : 'Show Favorites' }} <i [ngClass]="showFavorites ? '' : 'fas fa-heart'"></i></button>
    <button class="btn btn-brand-alt mobile-hide ms-3" type="button" [disabled]="selectedRecipes.length == 0" (click)="addSelectedRecipesToGroceryList()">Add to Groceries</button>
    <span class="float-end mobile-hide">
      <button class="btn btn-brand-secondary btn-mobile ms-3" type="button" routerLink="/account/recipes">My Recipes <i class="fas fa-user"></i></button>
    </span>
  </div>
}
@if (!isAuthenticated) {
  <div class="mobile-hide mb-3">
    <button class="btn btn-brand-alt" type="button" [disabled]="selectedRecipes.length == 0" (click)="addSelectedRecipesToGroceryList()">Add to Groceries</button>
    <!-- <button class="btn btn-brand-secondary ms-3" type="button" [disabled]="recipeList.length == 0" routerLink="/account/plan">Recipe Groceries</button> -->
  </div>
}

@if (loading) {
  <app-spinner [centered]="true"></app-spinner>
}

@if (loading === false) {
  <table class="table table-hover caption-top">
    <caption>{{ showFavorites ? 'Favorite recipes' : 'All recipes' }}</caption>
    @if (settings.recipesTheme === 'Pretty') {
      <app-pretty [recipes]="shownRecipes" [favoredRecipes]="favoredRecipes"></app-pretty>
    }
    @if (settings.recipesTheme === 'List') {
      <thead>
        <tr class="cursor-pointer">
          <th scope="col">#</th>
          <th scope="col" (click)="sort('title')">Title @if (sortSetting == 'title') {
            <i class="fas fa-sort"></i>
          }</th>
          <!-- <th scope="col" (click)="sort('instructions')">Instructions <i *ngIf="sortSetting == 'instructions'" class="fas fa-sort"></i></th> -->
          <th scope="col" class="creator" (click)="sort('creator')">Creator @if (sortSetting == 'creator') {
            <i class="fas fa-sort"></i>
          }</th>
          <th scope="col" (click)="sort('created')">Created @if (sortSetting == 'created') {
            <i class="fas fa-sort"></i>
          }</th>
        </tr>
      </thead>
    }
    @if (settings.recipesTheme === 'List') {
      <tbody>
        @for (recipe of shownRecipes; track recipe) {
          <tr>
            <th scope="row">
              <input class="form-check-input me-1 cursor-pointer" type="checkbox" (click)="toggleRecipeSelected(recipe)">
            </th>
            <td class="cursor-pointer" (click)="openRecipe(recipe)">
              {{recipe.title}}
            </td>
            <!-- <td class="cursor-pointer instructions" (click)="openRecipe(recipe)">
            {{recipe.Instructions}}
          </td> -->
          <td class="cursor-pointer creator" (click)="openRecipe(recipe)">
            {{recipe.creator}}
          </td>
          <td class="cursor-pointer" (click)="openRecipe(recipe)">
            {{displayDateOnly(recipe.created)}}
          </td>
        </tr>
      }
      @if (shownRecipes.length == 0) {
        <tr>
          <td colspan="12" class="text-center">
            There are no recipes to be shown..
          </td>
        </tr>
      }
    </tbody>
  }
  @if (loading === false && shownRecipes.length == 0) {
    <p class="text-center">
      There are no recipes to be shown..
    </p>
  }
</table>
}