<section class="text-center">
  <div class="vertical-center">
    <h1 class="jumbotron-heading brand" style="margin-left: -2%;">
      <app-serious style="width: 5%;"></app-serious>
      Serious
    </h1>

    @if (status) {
      <div>
        <p class="lead text-muted">Welcome, feel free to click around!</p>
      </div>
    }

    @if (!status) {
      <div>
        <p class="lead text-muted">Welcome, please sign up or log in to your account below.</p>
        <a routerLink="/register" class="btn btn-outline-primary btn-lg" style="margin-right: 1vh;">Sign Up</a>
        <a routerLink="/login" class="btn btn-outline-secondary btn-lg">Log In</a>
      </div>
    }
  </div>
</section>