.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100wh;
    background-color: rgba(0, 0, 0, 0.50);
    z-index: 50;
}

.alert-box{
    padding: 16px;
    z-index: 100;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

.alert-actions{
    text-align: right;
}