<app-mobile-header></app-mobile-header>

<header class="d-flex flex-wrap bg-dark align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
  <a class="align-items-center col-md-3 mb-2 ms-2 mb-md-0 text-light text-decoration-none head" routerLink="/">
    <app-serious style="width: 5%;"></app-serious>
    Serious
  </a>

  <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
    <li><a class="nav-link px-2 text-header" routerLinkActive="active" routerLink="recipes/overview">Recipes</a></li>
    @if (isAuthenticated && isAdmin) {
      <li><a class="nav-link px-2 text-header" routerLinkActive="active" routerLink="dashboard/users">Dashboard</a></li>
    }
    <li><a class="nav-link px-2 text-header" routerLinkActive="active" routerLink="grocery">Grocery</a></li>
  </ul>

  <div class="col-md-3 text-end">
    <div class="me-3">
      @if (!isAuthenticated) {
        <div>
          <button type="button" class="btn btn-link text-header text-decoration-none" routerLinkActive="active" routerLink="login">Login</button>
          <button type="button" class="btn btn-link text-header text-decoration-none" routerLinkActive="active" routerLink="register">Sign-up</button>
        </div>
      }

      @if (isAuthenticated) {
        <div>
          <a href="#" class="link-light text-decoration-none dropdown-toggle" id="profileDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            {{username}} - <i>{{email}}</i>
            <!-- <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle"> -->
          </a>
          <ul class="dropdown-menu text-small" aria-labelledby="profileDropdown">
            <li><a class="dropdown-item" routerLinkActive="active" routerLink="account/profile">Profile</a></li>
            <li><a class="dropdown-item" routerLinkActive="active" routerLink="account/recipes">My Recipes</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" (click)="logout()">Sign out</a></li>
          </ul>
        </div>
      }
    </div>
  </div>
</header>

<label for="nav-toggle" class="nav-toggle-label">
  <span></span>
</label>