<footer class="bg-dark align-items-center justify-content-center justify-content-md-between py-2" id="footer">
    <ul class="nav col-12 col-md-auto justify-content-center">
        <li class="col-4"><a class="nav-link px-2 text-header text-center text-light" routerLinkActive="active" routerLink="recipes">Recipes</a></li>
        <li class="col-4"><a class="nav-link px-2 text-header text-center text-light" routerLinkActive="active" routerLink="recipes/create"><i class="fas fa-plus"></i></a></li>
        <li class="col-4"><a class="nav-link px-2 text-header text-center text-light" routerLinkActive="active" routerLink="grocery">Grocery</a></li>
    </ul>
</footer>