.card-group{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.card{
    box-shadow: 0 2px 3px rgb(0 0 0 / 5%);
    background-color: white;
    border: 1px solid #eee;
}

img{
    object-fit: cover;
    max-height: 225px;
    min-height: 225px;
}

@media only screen and (max-device-width: 480px) {
   /* styles for mobile browsers smaller than 480px; (iPhone) */
    .card-group{
        grid-template-columns: repeat(1, 1fr);
    }
}
@media only screen and (device-width: 768px) {
   /* default iPad screens */
    .card-group{
        grid-template-columns: repeat(1, 1fr);
    }
}
/* different techniques for iPad screening */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
    .card-group{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
  /* For landscape layouts only */
    .card-group{
        grid-template-columns: repeat(3, 1fr);
    }
}