@if (recipes.length > 0) {
  <div class="card-group">
    @for (recipe of recipes; track recipe) {
      <div (click)="openRecipe(recipe)" class="card cursor-pointer hover-90 m-1">
        <img class="card-img-top" src="{{recipe.Image.url}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{recipe.Title}}</h5>
          <p class="card-text">{{ (utilityService.removeHtml(recipe.Instructions).length > 140) ? (utilityService.removeHtml(recipe.Instructions) | slice:0:140) + '...' : (utilityService.removeHtml(recipe.Instructions)) }}</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">{{recipe.Creator}}</small>
          <small class="text-muted float-end">{{utilityService.displayDateOnly(recipe.Created)}}</small>
        </div>
      </div>
    }
  </div>
}