<div *ngIf="user" class="row profile vertical-center d-block">
	<div class="horizontal-center">
        <div class="accordion" id="accordion">

            <div class="card">
                <div class="card-header bg-white mb-3">
                    <h4 class="card-title">Account Information</h4>
                </div>

                <form (ngSubmit)="update(profileForm)" [formGroup]="profileForm" (change)="formCheck(profileForm)">
                    <div class="card-block">
                        <div class="form-group">
                            <label for="user-name">Username</label>
                            <input id="user-name" type="text" name="user-name" class="form-control" [ngClass]="{ 'is-invalid': f.UserName.touched && f.UserName.errors }" placeholder="Your display name" formControlName="UserName" autocomplete="off">
                            <div *ngIf="f.UserName.touched && f.UserName.errors" class="invalid-feedback">
                                <div *ngIf="f.UserName.errors.required">Username is required</div>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="first-name">First name</label>
                            <input id="first-name" type="text" name="firstName" class="form-control" [ngClass]="{ 'is-invalid': f.FirstName.touched && f.FirstName.errors }" placeholder="Your first name" formControlName="FirstName" autocomplete="off">
                            <div *ngIf="f.FirstName.touched && f.FirstName.errors" class="invalid-feedback">
                                <div *ngIf="f.FirstName.errors.required">First name is required</div>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="last-name">Last name</label>
                            <input id="last-name" type="text" name="lastName" class="form-control" [ngClass]="{ 'is-invalid': f.LastName.touched && f.LastName.errors }" placeholder="Your last name" formControlName="LastName" autocomplete="off">
                            <div *ngIf="f.LastName.touched && f.LastName.errors" class="invalid-feedback">
                                <div *ngIf="f.LastName.errors.required">Last name is required</div>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="email">E-mail</label>
                            <input id="email" type="text" name="email" class="form-control" [ngClass]="{ 'is-invalid': f.Email.touched && f.Email.errors }" placeholder="E-mail" formControlName="Email" [attr.disabled]="true">
                            <div *ngIf="f.Email.touched && f.Email.errors" class="invalid-feedback">
                                <div *ngIf="f.Email.errors.required">E-mail is required</div>
                                <div *ngIf="f.Email.errors.email">E-mail is invalid</div>
                            </div>
                        </div>
                        
                        <div class="form-group d-inline-block mt-3">
                            <button type="submit" class="btn btn-primary" [disabled]="isRequesting || formHasChanged === false" (click)="update(profileForm)">Update</button>
                        </div>
                        
                        <div *ngIf="errors" class="alert alert-danger d-inline-block float-end" role="alert">
                            <strong>Oops!</strong> {{errors}}
                        </div>
                    </div>
                </form>
            </div>

            <hr/>

            <div class="card">
                <div class="card-header bg-white mb-3">
                    <h4 class="card-title">Account Settings <i class="far fa-clock float-end text-muted fa-spin fa-sm"></i></h4>
                </div>
                
                <div class="language-check mb-2">
                    <label class="form-check-label" for="preferredLanguage">Language</label>
                    <select class="btn btn-outline-dark btn-sm dropdown-toggle ms-2" name="preferredLanguage" [(ngModel)]="settings.preferredLanguage" (ngModelChange)="updateSettings()" #select>
                        <option class="select-items" *ngFor="let language of languages" [ngValue]="language">{{language}}</option>
                    </select>
                </div>
                
                <div class="form-check form-switch">
                    <input class="form-check-input cursor-pointer" type="checkbox" id="flexSwitchCheckDefault" [checked]="settings.theme === 'Dark'" (change)="updateTheme()">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Dark mode</label>
                </div>
            </div>

        </div>
	</div>
</div>